<!-- <section >
<div class="row">
  <div class="col-75">
    <div class="container">
      <form [formGroup]="checkoutForm">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" formControlName="fullName" placeholder="John M. Doe"><br>
            <div *ngIf="checkoutForm.get('fullName')?.invalid &&checkoutForm.get('fullName')?.touched">
              <small class="text-danger"*ngIf=" checkoutForm.get('fullName')?.hasError('required')">First name is Required</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('fullName')?.hasError('minlength')">First name is min 3 character</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('fullName')?.hasError('maxlength')">First name is max 20 character</small>
            </div>
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" formControlName="email" placeholder="john@example.com"><br>
            <div *ngIf="checkoutForm.get('email')?.invalid &&checkoutForm.get('email')?.touched">
              <small class="text-danger"*ngIf=" checkoutForm.get('email')?.hasError('required')">E-mail is Required</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('email')?.hasError('email')">E-mail is Invalid</small>
            </div>
            <label for="adr"><i class="fa-solid fa-address-book"></i> Address</label>
            <input type="text" id="adr" name="address" formControlName="Adddress" placeholder="542 W. 15th Street"><br>
            <div *ngIf="checkoutForm.get('Adddress')?.invalid &&checkoutForm.get('Adddress')?.touched">
              <small class="text-danger"*ngIf=" checkoutForm.get('Adddress')?.hasError('required')">Address is Required</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('Adddress')?.hasError('minlength')">Address is min 3 character</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('Adddress')?.hasError('maxlength')">Address is max 20 character</small>
            </div>
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" formControlName="city" placeholder="New York"><br>
            <div *ngIf="checkoutForm.get('city')?.invalid &&checkoutForm.get('city')?.touched">
              <small class="text-danger"*ngIf=" checkoutForm.get('city')?.hasError('required')">city is Required</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('city')?.hasError('minlength')">city is min 3 character</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('city')?.hasError('maxlength')">city is max 10 character</small>
            </div>

          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa-brands fa-cc-visa mx-2" style="color:navy;"></i>
              <i class="fa-brands fa-paypal mx-2" style="color:blue;"></i>
              <i class="fa-brands fa-cc-mastercard mx-2" style="color:red;"></i>
              <i class="fa-brands fa-cc-discover mx-2" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" formControlName="cardName" name="cardname" placeholder="John More Doe"><br>
            <div *ngIf="checkoutForm.get('cardName')?.invalid &&checkoutForm.get('cardName')?.touched">
              <small class="text-danger"*ngIf=" checkoutForm.get('cardName')?.hasError('required')">card Name is Required</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('cardName')?.hasError('minlength')">card Name is min 3 character</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('cardName')?.hasError('maxlength')">card Name is max 15 character</small>
            </div>
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" formControlName="cardNumber" name="cardnumber" placeholder="111444499647"><br>
            <div *ngIf="checkoutForm.get('cardNumber')?.invalid &&checkoutForm.get('cardNumber')?.touched">
              <small class="text-danger"*ngIf=" checkoutForm.get('cardNumber')?.hasError('required')">card Number is Required</small>
              <small class="text-danger" *ngIf=" checkoutForm.get('cardNumber')?.hasError('pattern')">card Number is should be 12 numbers</small>
            </div>
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" formControlName="expMonth" placeholder="September"><br>
            <div *ngIf="checkoutForm.get('expMonth')?.invalid &&checkoutForm.get('expMonth')?.touched">
              <small class="text-danger"*ngIf=" checkoutForm.get('expMonth')?.hasError('required')">Expire Month is Required</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('expMonth')?.hasError('minlength')">Expire Month is min 3 character</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('expMonth')?.hasError('maxlength')">Expire Month is max 12 character</small>
            </div>
          </div>

        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input (click)="checkout()" type="submit" [disabled]="checkoutForm.invalid" value="Continue to checkout" [routerLink]="checkoutForm.valid ? '/success':'/checkout'" class="btn">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{count}}</b></span></h4>

      <hr>
      <p>Total <span class="price" style="color:black"><b> {{totalPrice}} EGP</b></span></p>
    </div>
  </div>
</div>

</section> -->
<div class="wrapper">
  <div class="container">
      <form [formGroup]="checkoutForm">
          <h1>
              <i class="fas fa-shipping-fast"></i>
              Shipping Details
          </h1>
          <div class="name">
              <div>
                  <label for="f-name">First</label>
                  <input type="text" name="f-name" formControlName="fName">
                  <div *ngIf="checkoutForm.get('fName')?.invalid &&checkoutForm.get('fName')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('fName')?.hasError('required')">First is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('fName')?.hasError('minlength')">First is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('fName')?.hasError('maxlength')">First is max 20 character</small>
                  </div>
              </div>
              <div>
                  <label for="l-name">Last</label>
                  <input type="text" name="l-name" formControlName="lName">
                  <div *ngIf="checkoutForm.get('lName')?.invalid &&checkoutForm.get('lName')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('lName')?.hasError('required')">Last is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('lName')?.hasError('minlength')">Last is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('lName')?.hasError('maxlength')">Last is max 20 character</small>
                  </div>
              </div>
          </div>
          <div class="street">
              <label for="name">Street</label>
              <input type="text" name="address" formControlName="street">
              <div *ngIf="checkoutForm.get('street')?.invalid &&checkoutForm.get('street')?.touched">
                <small class="text-danger"*ngIf=" checkoutForm.get('street')?.hasError('required')">Street is Required</small>
                  <small class="text-danger" *ngIf=" checkoutForm.get('street')?.hasError('minlength')">Street is min 3 character</small>
                  <small class="text-danger" *ngIf=" checkoutForm.get('street')?.hasError('maxlength')">Street is max 20 character</small>
              </div>
          </div>
          <div class="address-info">
              <div>
                  <label for="city">City</label>
                  <input type="text" name="city" formControlName="city">
                  <div *ngIf="checkoutForm.get('city')?.invalid &&checkoutForm.get('city')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('city')?.hasError('required')">city is Required</small>
                  </div>
              </div>
              <div>
                  <label for="state">State</label>
                  <input type="text" name="state" formControlName="state">
                  <div *ngIf="checkoutForm.get('state')?.invalid &&checkoutForm.get('state')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('state')?.hasError('required')">state is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('state')?.hasError('minlength')">state is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('state')?.hasError('maxlength')">state is max 20 character</small>
                  </div>
              </div>
              <div>
                  <label for="zip">Zip</label>
                  <input type="text" name="zip" formControlName="zip">
                  <div *ngIf="checkoutForm.get('zip')?.invalid &&checkoutForm.get('zip')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('zip')?.hasError('required')">zip is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('zip')?.hasError('minlength')">zip is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('zip')?.hasError('maxlength')">zip is max 15 character</small>
                  </div>
              </div>
          </div>
          <h1>
              <i class="far fa-credit-card"></i> Payment Information
          </h1>
          <div class="cc-num">
              <label for="card-num">Credit Card No.</label>
              <input type="text" name="card-num" formControlName="credit">
              <div *ngIf="checkoutForm.get('credit')?.invalid &&checkoutForm.get('credit')?.touched">
                <small class="text-danger"*ngIf=" checkoutForm.get('credit')?.hasError('required')">credit is Required</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('credit')?.hasError('pattern')">credit is should be 14 numbers</small>
              </div>
          </div>
          <div class="cc-info">
              <div>
                  <label for="card-num">Exp</label>
                  <input type="text" name="expire" formControlName="exp">
                  <div *ngIf="checkoutForm.get('exp')?.invalid &&checkoutForm.get('exp')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('exp')?.hasError('required')">Exp is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('exp')?.hasError('minlength')">Exp is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('exp')?.hasError('maxlength')">Exp is max 15 character</small>
                  </div>
              </div>
              <div>
                  <label for="card-num">CCV</label>
                  <input type="text" name="security" formControlName="ccv">
                  <div *ngIf="checkoutForm.get('ccv')?.invalid &&checkoutForm.get('ccv')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('ccv')?.hasError('required')">ccv is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('ccv')?.hasError('minlength')">ccv is min 1 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('ccv')?.hasError('maxlength')">ccv is max 4 character</small>
                  </div>
              </div>
          </div>
          <div class="btns d-flex justify-content-between align-items-baseline gap-2">
              <button routerLink="/success">Purchase</button>
              <button routerLink="/cart">Back to cart</button>
          </div>
      </form>
  </div>
</div>
