<div class="wrapper">
  <div class="container">
      <form [formGroup]="checkoutForm">
          <h1>
              <i class="fas fa-shipping-fast"></i>
              Shipping Details
          </h1>
          <div class="name">
              <div>
                  <label for="f-name">First</label>
                  <input type="text" name="f-name" formControlName="fName">
                  <div *ngIf="checkoutForm.get('fName')?.invalid &&checkoutForm.get('fName')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('fName')?.hasError('required')">First is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('fName')?.hasError('minlength')">First is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('fName')?.hasError('maxlength')">First is max 20 character</small>
                  </div>
              </div>
              <div>
                  <label for="l-name">Last</label>
                  <input type="text" name="l-name" formControlName="lName">
                  <div *ngIf="checkoutForm.get('lName')?.invalid &&checkoutForm.get('lName')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('lName')?.hasError('required')">Last is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('lName')?.hasError('minlength')">Last is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('lName')?.hasError('maxlength')">Last is max 20 character</small>
                  </div>
              </div>
          </div>
          <div class="street">
              <label for="name">Street</label>
              <input type="text" name="address" formControlName="street">
              <div *ngIf="checkoutForm.get('street')?.invalid &&checkoutForm.get('street')?.touched">
                <small class="text-danger"*ngIf=" checkoutForm.get('street')?.hasError('required')">Street is Required</small>
                  <small class="text-danger" *ngIf=" checkoutForm.get('street')?.hasError('minlength')">Street is min 3 character</small>
                  <small class="text-danger" *ngIf=" checkoutForm.get('street')?.hasError('maxlength')">Street is max 20 character</small>
              </div>
          </div>
          <div class="address-info">
              <div>
                  <label for="city">City</label>
                  <input type="text" name="city" formControlName="city">
                  <div *ngIf="checkoutForm.get('city')?.invalid &&checkoutForm.get('city')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('city')?.hasError('required')">city is Required</small>
                  </div>
              </div>
              <div>
                  <label for="state">State</label>
                  <input type="text" name="state" formControlName="state">
                  <div *ngIf="checkoutForm.get('state')?.invalid &&checkoutForm.get('state')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('state')?.hasError('required')">state is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('state')?.hasError('minlength')">state is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('state')?.hasError('maxlength')">state is max 20 character</small>
                  </div>
              </div>
              <div>
                  <label for="zip">Zip</label>
                  <input type="text" name="zip" formControlName="zip">
                  <div *ngIf="checkoutForm.get('zip')?.invalid &&checkoutForm.get('zip')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('zip')?.hasError('required')">zip is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('zip')?.hasError('minlength')">zip is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('zip')?.hasError('maxlength')">zip is max 15 character</small>
                  </div>
              </div>
          </div>
          <h1>
              <i class="far fa-credit-card"></i> Payment Information
          </h1>
          <div class="cc-num">
              <label for="card-num">Credit Card No.</label>
              <input type="text" name="card-num" formControlName="credit">
              <div *ngIf="checkoutForm.get('credit')?.invalid &&checkoutForm.get('credit')?.touched">
                <small class="text-danger"*ngIf=" checkoutForm.get('credit')?.hasError('required')">credit is Required</small>
                <small class="text-danger" *ngIf=" checkoutForm.get('credit')?.hasError('pattern')">credit is should be 14 numbers</small>
              </div>
          </div>
          <div class="cc-info">
              <div>
                  <label for="card-num">Exp</label>
                  <input type="text" name="expire" formControlName="exp">
                  <div *ngIf="checkoutForm.get('exp')?.invalid &&checkoutForm.get('exp')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('exp')?.hasError('required')">Exp is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('exp')?.hasError('minlength')">Exp is min 3 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('exp')?.hasError('maxlength')">Exp is max 15 character</small>
                  </div>
              </div>
              <div>
                  <label for="card-num">CCV</label>
                  <input type="text" name="security" formControlName="ccv">
                  <div *ngIf="checkoutForm.get('ccv')?.invalid &&checkoutForm.get('ccv')?.touched">
                    <small class="text-danger"*ngIf=" checkoutForm.get('ccv')?.hasError('required')">ccv is Required</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('ccv')?.hasError('minlength')">ccv is min 1 character</small>
                      <small class="text-danger" *ngIf=" checkoutForm.get('ccv')?.hasError('maxlength')">ccv is max 4 character</small>
                  </div>
              </div>
          </div>
          <div class="btns d-flex justify-content-between align-items-baseline gap-2">
              <button  (click)="checkout()">Purchase</button>
              <button routerLink="/cart">Back to cart</button>
          </div>
      </form>
  </div>
</div>
