<!-- <form [formGroup]="loginForm">
  <div class="login">
    <h5>Login Form</h5>
    <input type="email" formControlName="email" name="usern" placeholder="E-mail" value="" class="text"><br>
    <div *ngIf="loginForm.get('email')?.invalid &&loginForm.get('email')?.touched">

      <small
          class="text-danger"
          *ngIf=" loginForm.get('email')?.hasError('required')"
        >
          E-mail is Required</small
        >
        <small
          class="text-danger "
          *ngIf=" loginForm.get('email')?.hasError('email')"
        >
          E-mail is Invalid</small
        >
    </div>
    <input type="Password" formControlName="password" name="usern" placeholder="Password" value="" class="text"><br>
    <div *ngIf="loginForm.get('password')?.invalid &&loginForm.get('password')?.touched">
      <small
        class="text-danger "
        *ngIf="loginForm.get('password')?.hasError('required')"
      >
      Password is Required</small
      >
  </div>
    <small
        class="text-danger "
        *ngIf="loginForm.get('password')?.hasError('required')&&loginForm.get('password')?.hasError('toched')"
      >
      Password is Required</small
      >
    <button class="btn btn-primary border-0" type="submit" (click)="Login()">Login</button>
  </div>
</form> -->
<div class="container d-flex justify-content-center align-items-center ">
  <form [formGroup]="loginForm">
    <h1> Login </h1>

    <input type="email"  formControlName="email" class="form-control" placeholder="Email address">
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">

    <small class="text-danger" *ngIf="loginForm.get('email')?.hasError('required')"> Email is Required</small>
    <small class="text-danger" *ngIf="loginForm.get('email')?.hasError('email')"> Email is Invalid</small>

    </div>
    <br>

    <input type="password" formControlName="password" class="form-control" placeholder="Password">
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
    <small class="text-danger" *ngIf="loginForm.get('password')?.hasError('required')"> Password is required</small>
    <small class="text-danger" *ngIf="loginForm.get('password')?.hasError('required')&&loginForm.get('password')?.hasError('toched')"> Password is Required</small>

    </div>
    <br>
    <button (click)="Login()" class="btn btn-dark  w-100" type="submit">Login</button>
  </form>
  </div>
